*{
    margin: 0;
    padding: 0;
    background-size: auto;
}
body{
    background-color: rgb(139, 7, 139);
    font-size: 25px;
    display: grid;
    text-align: center;
    font: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
h1{
    text-align: center;
}
input{
    width: auto;
}
.item button {
    background-color: #a51f93;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .item button :hover{
    transform: scale(1.04);
  }
